.topbuttongroup {
  display: flex;
  justify-content: space-between; /* Title left, buttons right */
  align-items: center;
  padding: 16px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
.selectedCaseTitle {
  font-size: 14px;
  font-weight: 600;
  color: #444;
  min-height: 20px;
  flex: 1;
}

.buttonGroup {
  display: flex;
  gap: 12px;
}

/* Cancel Button */
.cancelbtn {
  background-color: #aaa;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.cancelbtn:hover {
  background-color: #8a191e; /* Darker shade on hover */
}

/* Draft Button */
.draftbtn {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.draftbtn:hover {
  background-color: #8a191e; /* Darker shade on hover */
}

/* Save Case Button */
.savebtn {
  background-color: #fbbc05;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.savebtn:hover {
  background-color: #8a191e; /* Darker shade on hover */
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.datePickerInput {
  height: 35; // adjust as needed
  padding: 3.5px 12px; // keep text vertically centered
  font-size: 14px; // optional for consistent text size
}
