/* input */
.datePickerInput {
  background: #1f1f1f;
  color: #fff;
  border: 1px solid #444;
  padding: 6px 10px;
  border-radius: 6px;
}

/* make calendar float above SharePoint */
:global(#datepicker-portal-root) {
  position: relative;
  z-index: 999999999;
}

/* popper fix */
:global(.react-datepicker-popper) {
  z-index: 999999999 !important;
}

/* prevent layout shift */
.datepickerPopper {
  position: fixed !important;
}
