@import "~@fluentui/react/dist/sass/References.scss";
:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
  #spSiteHeader {
    display: none !important;
  }
  #spCommandBar {
    display: none !important;
  }
  .spAppAndPropertyPanelContainer .sp-appBar {
    display: none !important;
  }
}
