@import "~@fluentui/react/dist/sass/References.scss";
:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
    padding: 0% !important;
  }
  #spSiteHeader {
    display: none !important;
  }
  #spCommandBar {
    display: none !important;
  }
  // .spAppAndPropertyPanelContainer .sp-appBar {
  //   display: none !important;
  // }
  #SuiteNavWrapper {
    display: none !important;
  }
}
