.viewCaseContainer {
  padding: 1rem;

  .header {
    text-align: center;
    .logo {
      height: 50px;
    }
  }

  .metaInfo {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-weight: 500;
    background-color: #f8f8f8;
  }

  .detailTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #dee2e6;
    td {
      padding: 8px;
      border: 1px solid #dee2e6;
      width: 20%;
    }
    // td:first-child {
    //   font-weight: bold;
    //   width: 20%;
    // }
  }

  .attachments {
    margin-top: 1.5rem;
    .fileList {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .fileItem {
        background: #f9f9f9;
        padding: 10px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        border: 1px solid #ddd;
      }
    }
  }
}
.subHeading {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  border-bottom: 2px solid #000;
  display: inline-block;
  padding-bottom: 2px;
}

.taxIssueTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;

  th,
  td {
    border: 1px solid #ccc;
    padding: 6px 10px;
  }

  th {
    background-color: #e6e6e6;
    text-align: center;
    font-weight: 600;
  }

  td:first-child {
    font-weight: 500;
  }
}
